@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .no-spinner {
        -moz-appearance: textfield;
    }
    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }
}

html,
body {
    @apply w-full h-auto h-[-webkit-fill-available] min-h-[100dvh];
}

.badgeIcon {
    @apply relative inline-flex flex-shrink-0 justify-center items-center h-[3.375rem] w-[1.5rem] rounded-md font-medium shadow-sm align-middle transition-all text-sm
}